[Unit]
Description=Prevent system from sleeping under certain conditions

[Service]
WorkingDirectory=/opt/no-doze
ExecStart=/opt/no-doze/venv/bin/python3 -m src.no_doze

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

