[Unit]
Description=Prevent system from sleeping under certain conditions

[Service]
WorkingDirectory=/usr/lib/no-doze
Group=no-doze
ExecStart=/usr/lib/no-doze/venv/bin/python3 no_dozed.py -c /etc/no-doze/no-dozed.yml

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target